# -*- coding: utf-8 -*-
[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=2.1.2"
tqdm = ">=4.66.1"
chardet = ">=5.2.0"
numpy = ">=1.26.1"

[dev-packages]
pytest = "*"
pyinstaller = "*"

[requires]
python_version = ">=3.11.5"